@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@layer base{
  @font-face {
    font-family: "Robot";
    src: url("../../public/Fonts/Roboto-Regular.ttf") format("ttf");
    font-display: swap;
    font-weight: 700;
  }
}
.content-bg{
  background-image: url(../../public/assets/slider-technology.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
.contentOne{
  background-image: url(../../public/assets/content-slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.contentTwo{
  background-image: url(../../public/assets/content-slider2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Latest_Video{
  background-image: url(../../public/assets/Latest/Latest1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

